* {
	margin: 0;
	padding: 0;
	font-family: "Cantarell", sans-serif;
}

*:focus {
	outline: none;
}

html {
	background-color: black;
	color: white;
	padding: 3em 0;
}

body {
	overflow: hidden;
}

.section {
	position: fixed;
	left: 0;
	right: 0;
}

.banner {
	height: 2em;
	line-height: 2em;
}

#header {
	top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(80%, rgba(0,0,0,0.7)), to(rgba(0,0,0,0)));
	font-weight: bold;
	z-index: 100;
}

#footer {
	bottom: 0;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), color-stop(80%, rgba(0,0,0,0.7)), to(rgba(0,0,0,0)));
	z-index: 99;
}

#main {
	top: 0;
	bottom: 0;
}

#header > * {
	line-height: 2em;
}

#stop {
	position: absolute;
	right: 0;
}

#root {
	position: absolute;
	left: 0;
	top: 40%;
}

#root ul {
	width: 11em;
	line-height: 1em;
	position: absolute;
	top: 0;
	list-style: none;
	-webkit-transition: all 500ms ease-in-out;
	z-index: 10;
}

#root ul > li > *:first-child {
	background-color: red;
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0.9)));
	-webkit-box-shadow: 0.1em 0.1em 1em rgba(128,128,128,0.5);
	color: white;
	text-decoration: none;
	margin: 0.5em;
	padding: 0.4em 0.5em 0.6em 0.5em;
	border-radius: 0.25em;
	display: block;
	-webkit-transition: all 100ms ease-out;
}

#root ul > li > *:first-child:hover,
#root ul > li:focus > *:first-child {
	-webkit-transform: scale(1.1) translate(0.2em,0);
	background-color: yellow !important;
}

#root ul > li > ul {
	margin-left: 12em;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: rotate(-45deg) scale(0.5) translate(-4em,0);
}

#root ul > li.expand > *:first-child {
	background-color: orange;
	-webkit-transform: scale(1.2) translate(0.4em,0);
	-webkit-transition: all 500ms ease-out;
}

#root ul > li.expand > ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1) translate(0,0);
}

.embedded-player {
	position: fixed;
	top: 2em;
	bottom: 2em;
	left: 100%;
	right: 0;
	border-left: 1px solid #888;
	margin-left: 1em;
	opacity: 1;
	z-index: 1;
	-webkit-transition: left 500ms ease-in-out;
	-webkit-transition: opacity 500ms ease-out;
}

.embedded-player.hidden {
	opacity: 0;
}

.embedded-player > iframe {
	width: 100%;
	height: 100%;
	border: none;
}
