body {
	font-size: 28px;
}

legend {
	font-size: 70%;
}

:focus {
	background-color: orange;
	outline: none !important;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.25em 0.5em;
	font-size: 90%;
}

.ui-tabs-panel > ul {
	padding: 0;
	margin: 0;
}

#stop {
	float: right;
	font-size: 80%;
}

.actions button {
	font-size: 70%;
	border: none;
	background: none;
}

.file-browser > ul {
	-webkit-column-count: 2;
}

.file-browser > ul ul {
	margin-bottom: 0.25em;
}

.file-browser > ul li {
	margin: 0.1em;
}

li.dir > a {
	font-style: italic;
	font-size: 90%;
	color: #A68;
}
li.dir > a::after {
	content: "/";
	font-size: 70%;
}
li.file > a {
	color: #135;
}
li.playlist > a {
	color: #153;
}

#radio > ul {
	-webkit-column-count: 3;
}

#radio > ul > li > a {
	display: block;
}

#radio > ul > li > a > * {
	vertical-align: middle;
	margin: 0.1em 0.25em;
}

[data-key]::after {
	content: attr(data-key);
	font-size: 80%;
	font-weight: normal;
	opacity: 0.6;
	border: 1px solid #DCC;
	border-radius: 1em;
	background-color: #FED;
	color: #622;
	padding: 0px 0.4em 1px;
	margin-left: 0.4em;
}
[data-key=backspace]::after { content: "\2190"; }
[data-key=enter]::after { content: "\21B5"; }

