body {
	font-size: 28px;
}

legend {
	font-size: 70%;
}

:focus {
	background-color: orange;
	outline: none !important;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.25em 0.5em;
	font-size: 90%;
}

.ui-tabs-panel > ul {
	padding: 0;
	margin: 0;
}

#stop {
	float: right;
	font-size: 80%;
}

.actions button {
	font-size: 70%;
	border: none;
	background: none;
}

.file-browser > ul {
	-webkit-column-count: 2;
}

.file-browser > ul ul {
	margin-bottom: 0.25em;
}

.file-browser > ul li {
	margin: 0.1em;
}

#radio > ul {
	-webkit-column-count: 3;
}

#radio > ul > li > a {
	display: block;
}

#radio > ul > li > a > * {
	vertical-align: middle;
	margin: 0.1em 0.25em;
}

#keys {
	font-size: 80%;
}

[data-key] {
	font-weight: bold;
}
[data-key]::before {
	content: attr(data-key) ": ";
	font-size: 80%;
	font-weight: normal;
	-font-family: monospace;
	-letter-spacing: -1px;
}
[data-key=backspace]::before { content: "\2190: "; }
[data-key=enter]::before { content: "\21B5: "; }

